<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.scss">
    <title>SpotDJ</title>
</head>
<body>
    <h1>Welcome to SpotDJ!</h1>
    <p>SpotDJ is a web app that uses AI to shuffle playlists from Spotify based on the audio statistics of each song to make the transitions between them sound seamless. It also includes an AI DJ mode that shuffles and mixes the highlights of each song to sound like a real DJ.</p>
    <form action="/home">
        <button type="submit">Login with Spotify</button>
    </form>
</body>
</html>